.track {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex: 0 1 100%;
}

.track__wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.track__image {
  position: relative;
  overflow: hidden;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.track__body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  word-break: break-word;
}

.track__artist {
  margin-bottom: var(--spacer);
}

.track__title {
  font-weight: var(--font-weight--bolder);
  margin-bottom: calc(var(--spacer) / 2);
  word-break: break-word;
}

.track__meta {
  font-size: var(--font-size--sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  margin-top: auto;
}

.track__meta__item:first-child {
  flex: 1 1 auto;
}
